/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset css*/

#forecastcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: auto;
}

#hourlycontainer {
	width: 650px;
	overflow-x: scroll;
}

#dailycontainer {
	width: 650px;
	overflow-x: scroll;
}
table {
	display: table;
}

tr {
	border: solid;
	border-collapse: collapse;
}
th {
	font-weight: bold;
	width: auto;
}

td {
	width: auto;
	text-align: center;
}
h1 {
	font-size: x-large;
	font-weight: bold;
}
h2 {
	font-size: large;
	font-weight: bold;
}

p {
	font-size: medium;
}
/* div way */
#sectioncontainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin: auto;
	padding: 20px;
}

#inputdiv {
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: 30px;;
}

.inputs, #selectfavorites {
	border-radius: 10px;
}

#hourlydivcontainer, #dailydivcontainer, #openmeteo {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 650px;
	overflow-x: scroll;
	border: solid;
	border-radius: 20px;
	border-color: gray;
	margin: auto;
}

#divhours, #divdegrees, #divhourimages, #divdays, #divdaydegrees, #divdayimages, #meteodays, #meteodegrees {
	display: flex;
	justify-content: center;
    width: max-content;
}


.divheadings, .image_icon, .temp_c {
	margin: 10px;
	width: 65px;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

#citycontainer {
	display: flex;
	flex-direction: column;
    align-items: center;
    gap: 10px;
	border: solid;
	border-color: gray;
	border-radius: 20px;
	padding: 10px;
}